<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>	<h1>word counter</h1>
		<div class="header">
			<ul list-style="none">
				<li list-style="none">home</li>
				<li>about</li>
				<li>count</li>
				<li>why us!</li>
			</ul>

		</div>
		<form action="{% url 'count' %}">
				<textarea rows="20" cols="70" name ="fulltextarea"></textarea><br>
				<input type="submit" value="count"/>
			</div>
		</form>

		<div>
			<p>graph will go here</p>

		</div>
</body>
</html>